# Dependencies
node_modules/
npm-debug.log*

# Builds
dist/
build/

# Env
.env*.local
.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Docker
Dockerfile.*
docker-compose.override.yml
